*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* GLOBAL STYLES */


h1,h2{
    font-family: Young Serif;
}

p, li, strong, td, h3, table{
    font-family: outfit;
}

p{
    line-height: 25px;
}




/* BODY STYLES */


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);
}




/* MAIN STYLES */


main{
    background-color:hsl(0, 0%, 100%) ;
    width: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: 10% 0 3%;
    gap: 30px;
}


/* MAIN INTRODUCTION STYLES */


main img{
    width: 100%;
    border-radius: 13px;
    align-self: center;
}

main h1{
    color: hsl(24, 5%, 18%);
    font-weight: 400;
    font-size: 45px;
}

@media (max-width: 375px){
    main{
        width: 100%;
        height: 100%;
        border-radius: 0;
        margin: 0;
        padding: 5%;
    }
}


/* DIV PREPARATION TIME STYLES */


p, li, table{
    color: hsl(30, 10%, 34%);
    font-size: 16px;
    font-weight: 400;
}

main div{
    background-color: hsl(330, 100%, 98%);
    height: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
    padding-left: 30px;
}

main div h3{
    font-size: 20px;
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}

main div ul{
    padding-left: 25px;
    line-height: 35px;
}

main div ul li{
    padding-left: 20px;
}

ul li::marker{
    color: hsl(332, 51%, 32%);
    font-size: 13px;
}




/* INGREDIENTS SECTION STYLES */


h2{
    color:  hsl(14, 45%, 36%);
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 20px;
}

.marker-brown li{
    padding-left: 20px;
}

.marker-brown{
    padding-left: 25px;
    line-height: 35px;
}

.marker-brown li::marker{
    color: hsl(14, 45%, 36%);
}




/* INSTRUCTIONS SECTION STYLES */

ol li{
    padding-left: 20px;
    font-size: 16px;
}

ol{
    padding-left: 25px;
    line-height: 35px;
}

ol li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}




/* NUTRITION TABLE STYLES */

hr{
    border-color: rgb(255, 255, 255);
}

table{
    font-size: 17px;
    padding: 10px 0 10px 0;
}

.nutrition{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
